html, body {
    height: 100vh;
}

h1 {
    text-align: center;
    padding: 15px;
}

h4 {
    text-align: center;
    font-size: 25px;
}

.day-buttons {
    text-align: center;
    padding-bottom: 40px;
}